# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Summarizing Data sciencs Tools
* Listing popular DS languages
* Creating Table

Some of the popular languages that Data Scientists use are:
1. Java
2. Phyton
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [82]:
# evaluate the expression 
(3*4)+5

17

In [86]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Maud Kouadio IV